@charset "UTF-8";
@font-face {
  font-family: VT323;
  src: url("https://unpkg.com/xk-toolbox@1.2.2/styles/fonts/VT323-Regular.ttf");
}

@font-face {
  font-family: AcerVGA8x8;
  src: url("fonts/Web437_Acer_VGA_8x8.woff");
}

@font-face {
  font-family: Rainbow100;
  src: url("fonts/WebPlus_Rainbow100_re_80.woff");
}

@font-face {
  font-family: Nix8x8;
  src: url("fonts/Web437_Nix8810_M16.woff");
}

@font-face {
  font-family: bitwise;
  src: url("https://unpkg.com/xk-toolbox@1.2.2/styles/fonts/bitwise.ttf");
}

@font-face {
  font-family: IBM_BIOS_2y;
  src: url("fonts/Web437_IBM_BIOS-2y.woff");
}

@font-face {
  font-family: DOS_VT19;
  src: url("/fonts/Web437_DOS-V_TWN19.woff");
}

@font-face {
  font-family: 'Courier Prime';
  src: url("/fonts/CourierPrime-Regular.ttf");
}

@font-face {
  font-family: 'Code New Roman';
  src: url("/fonts/code-new-roman.regular.otf");
}

@font-face {
  font-family: AcerVga8_2y;
  src: url("fonts/Web437_Acer_VGA_8x8-2y.woff");
}

:root {
  --main-color: white;
  --main-bg: black;
  --main-font: 'Courier New', "Lucinda Console", 'Monaco', monospace;
  --red-bg: #1b0302;
  --red-fg: #c0100a;
  --red-fg-2: #e53f39;
  --green-bg: #05321e;
  --green-fg: #5bf870;
  --blue-bg: #4242e7;
  --blue-fg: #a5a5ff;
  --grey-bg: #727272;
  --caret: "█";
  --before: ">";
  --color: white;
  --bg-color: black;
  --head: 50px;
  --fg: 5,50,30;
  --black-rgb: 0,0,0;
  /* --lines: repeating-linear-gradient(0deg,rgba(0,0,0,0.15), rgba(0,0,0,0.15)3px, transparent 3px); */
}

.default {
  --color: var(--main-color);
  --bg-color: var(--main-bg);
  --font: var(--main-font);
}

.blue {
  --color: var(--blue-fg);
  --bg-color: var(--blue-bg);
  --font: var(--main-font);
}

.green {
  --color: var(--green-fg);
  --bg-color: var(--green-bg);
  --font: var(--main-font);
}

.red {
  --color: var(--red-fg);
  --bg-color: var(--red-bg);
  --font: var(--main-font);
}

.show {
  display: block;
}

*[data-toggle="on"] {
  display: block;
}

*[data-toggle="off"] {
  display: none;
}

.terminal {
  background-color: var(--main-bg);
  color: var(--main-color);
  font: 14px var(--main-font);
  width: 100%;
  height: 100%;
  line-height: 16px;
}

.terminal ::selection {
  background-color: blue;
  text-shadow: none;
}

.terminal .window {
  display: block;
  float: left;
  position: absolute;
  max-height: fit-content;
  background-color: #222;
  border: 5px solid #222;
  margin: 10px 10px;
  box-shadow: 5px 5px 0 0 var(--grey-bg);
  width: 750px;
}

.terminal .window header#top {
  background-color: #333;
  padding: 5px;
  height: var(--head);
}

#top h1 {
  width: fit-content;
  float: left;
  margin: 10px 0;
}

.sect-btn:hover::before {
  content: "> ";
}

.window #body {
  width: 100%;
  height: 500px;
  max-height: max-content;
  border: 2px solid #fff;
  background-color: var(--main-bg);
  overflow-y: hidden;
  position: relative;
  /* padding: 5px; */
  margin: 10px 0;
}

#body #screen {
  width: 100%;
  height: 100%;
  text-shadow: 0 0 5px white;
  background-color: var(--blue-bg);
  overflow-y: hidden;
  /* color: #fff; */
  /* background-image: radial-gradient(rgb(25,25,25) 5%, var(--main-bg) 90%); */
  /* animation: text-flicker 0.01s ease-in-out infinite forwards; */
  /* background-image:  radial-gradient(, rgba(0,0,0,1)90%); */
  /* background-image: radial-gradient(,rgb(0,0,0)90% ); */
}

#crt {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#crt::after {
  content: "";
  background: linear-gradient(rgba(18, 16, 16, 0.03) 50%, rgba(0, 0, 0, 0.45) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.22), rgba(0, 255, 0, 0.11), rgba(0, 0, 255, 0.22));
  position: abolute;
}

#scroll {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* background: linear-gradient(rgba(var(--fg),0.15)33%,rgba(0,50,0,0.15)33%,rgba(0,0,50,0.15)30%, rgba(0,0,0)); */
  /* background:linear-gradient(rgba(var(--black-rgb),0.1)50%,transparent 50%); */
  background-repeat: repeat-y;
  background-size: 100% 10px;
  /* opacity: 0.14; */
  /* z-index: 1; */
  /* animation: scroll 5s linear infinite; */
}

#screen::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: var(--blue-bg); */
  /* background-image: linear-gradient(rgba(18, 16, 16, 0.03) 50%, rgba(0, 0, 0, 0.45) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.22), rgba(0, 255, 0, 0.11), rgba(0, 0, 255, 0.22)); */
}

#screen::after {
  content: "";
  width: 100%;
  /*height: calc(100%-var(--head));*/
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /*    background-image: repeating-linear-gradient(0deg, rgba(50, 3, 2,0.25),rgb(5, 50, 30,0.25) 1px, rgba(66, 66, 231,0.1) 2px,transparent 8px);*/
  /*   background-image: repeating-linear-gradient(0deg, rgba(50, 3, 2,0.25),rgba(5, 50, 30, 0.25) 8px, rgba(66, 66, 231,0.15)8px,transparent 8px);*/
  /* background-image: linear-gradient(to bottom, rgba(50, 3, 2,0.22)33%,rgba(17, 50, 17, 0.25)33%,rgba(66,66,231,0.22)33%); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.1) 50%);
  /* background-image: var(--lines); */
  background-repeat: repeat-y;
  background-size: 100% 8px;
  pointer-events: none;
  animation: scroll 3s linear infinite;
  /* background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.35)50%, rgba(0,0,0,0.1) 50%); */
}

#screen #container {
  width: 100%;
  min-height: max-content;
  height: 100%;
}

#scanline {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  /* background: #fff; */
  z-index: 1;
  /* box */
}

#scanline:before {
  content: "";
  /* background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%, rgba(255,255,255,0.15)10%,  rgba(0,0,0,0.15)100%, transparent 10%); */
}

#scanline:after {
  content: "";
  width: 100%;
  height: 25px;
  bottom: 50%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, rgba(255, 255, 255, 0.15) 10%, rgba(0, 0, 0, 0.15) 50%, transparent 100%);
  /* linear-gradient(to bottom, rgba(50, 3, 2,0.22)33%,rgba(17, 50, 17, 0.25)33%,rgba(66,66,231,0.22)33%); */
  /* background: ; */
  animation: scan 3s ease-in infinite;
  background-size: 100%;
  animation-fill-mode: forwards;
  position: absolute;
}

#content {
  padding: 5px;
  font-family: AcerVga8_2y;
  font-size: 16px;
  overflow-y: auto;
  animation: text-flicker 0.01s ease-in-out infinite;
  /* color: rgba( 255,255,255, 0.75); */
  /* opacity: 01; */
}

/* container styles*/
.terminal footer address {
  text-decoration: none;
  font-style: normal;
}

.terminal section {
  height: 100%;
}

.terminal section[data-toggle="off"] {
  display: none;
}

.terminal section[data-toggle="on"] {
  display: block;
}

/*nav styles*/
#top #nav-strip {
  height: 40px;
  margin: 5px 10px;
  display: block;
  float: right;
  right: 0;
  position: relative;
}

#nav-strip a {
  font: 16px Rainbow100, var(--main-font);
  height: 100%;
  text-transform: uppercase;
  border: 1px solid var(--red-fg);
  padding: 5px;
  margin: 0 2px;
  color: var(--red-fg);
  background-color: var(--red-bg);
}

#nav-strip a:before {
  content: "[";
}

#nav-strip a:after {
  content: "]";
}

#nav-strip a:hover {
  background-color: var(--red-fg);
  color: var(--red-bg);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.terminal aside#nav-box {
  position: fixed;
  right: 10px;
  z-index: 2;
  top: var(--head);
  background-color: var(--blue-bg);
  box-shadow: 3px 3px var(--blue-fg);
  border-left: 2px solid #fff;
  float: right;
  width: 150px;
  height: 100%;
  margin: 0px 10px;
  border-left: 2px;
  padding: 10px;
}

#nav-box[data-toggle="on"] {
  display: block;
}

#nav-box[data-toggle="off"] {
  display: none;
}

.terminal #nav-box .sec-list {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  padding: 5px;
}

#top #nav-toggle {
  height: calc(var(--head) - 10px);
  right: 0;
  float: right;
}

#nav-box button {
  padding: 2px 10px;
  margin: 2.5px;
  background: transparent;
  width: 100%;
  border: 1px solid var(--main-color);
  color: cyan;
  box-shadow: 5px 5px 0 0 var(--grey-bg);
  font: 14px Rainbow100, monospace;
  box-shadow: 5px 5px 0 0 var(--grey-bg);
}

#nav-box button:before {
  content: "";
}

#nav-box button:hover {
  cursor: pointer;
  background-color: #0ff;
  color: #000;
  border: 2px solid #000;
}

#nav-box button:hover:before {
  content: "> ";
}

#nav-box button[data-active] {
  background-color: #0ff;
  color: #000;
  border: 1px solid #000;
}

/*other*/
.terminal hr {
  color: var(--color);
}

/* Text Styles */
.terminal #content *:is(h1, h2, h3, h4, h5, h6) {
  font-family: Nix8x8, var(--main-font);
  margin-bottom: 10px;
  width: 500px;
  font-size: inherit;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  /* border-bottom: 2px dashed var(--color); */
}

.terminal #content *:is(h1, h2, h3, h4, h5, h6):before {
  content: "> [";
}

.terminal #content *:is(h1, h2, h3, h4, h5, h6):after {
  content: "] >>";
}

/* .terminal #content h1{
   
}


.terminal #content h1, .terminal #content h2, .terminal #content h3 {
}

#content p {
} */
.terminal blockquote {
  border: 2px solid var(--color);
  padding: 10px;
  width: fit-content;
}

details[open] p {
  padding-left: 5px;
}

.terminal summary {
  font-size: inherit;
  width: fit-content;
}

.terminal summary::marker {
  content: "$";
}

.terminal summary:before {
  content: "[";
}

.terminal summary:after {
  content: "]";
}

.terminal summary:hover {
  background-color: var(--color);
  color: var(--bg-color);
  cursor: pointer;
}

.terminal code {
  font: 14px "Code New Roman", var(--main-font);
}

.terminal code:after {
  content: var(--caret);
  animation: care-blink 3s ease-in-out none infinite;
}

/*Table Styles*/
.terminal table {
  border-collapse: separate;
  border: 2px dashed var(--color);
  font-weight: normal;
}

thead {
  border-bottom: 2px dashed var(--color);
}

th, td {
  padding: 5px;
}

/* Form styles */
.terminal button {
  padding: 2px 10px;
  background: transparent;
  border: 2px groove var(--main-color);
  color: cyan;
}

.terminal button:hover {
  color: var(--main-bg);
  background-color: var(--blue-fg);
}

/*Media query*/
@media only screen and (max-width: 600px) {
  .terminal .window {
    width: 100%;
    /* margin: 10px 10px; */
  }
  #body {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .terminal .window {
    width: 100%;
    /* margin: 10px 10px; */
  }
  #body {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .terminal .window {
    width: 750px;
    height: 100%;
  }
  .window #body {
    height: 650px;
  }
  #body {
    width: 100%;
  }
  #nav-toggle {
    display: none;
  }
  aside#nav-box {
    display: block;
    left: calc(750px + 10px);
    top: 0;
    margin: 0;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .terminal .window {
    width: 100%;
    margin: 0;
  }
  .terminal #body {
    width: 100%;
  }
  #nav-box {
    position: fixed;
    right: 0;
  }
  #nav-toggle {
    float: right;
    right: 0;
    top: 0;
    position: absolute;
    width: 50px;
  }
  #nav-toggle img {
    margin: auto;
  }
  #nav-toggle:hover {
    background: var(--blue-bg);
    color: var(--blue-fg);
  }
  .terminal #nav-box[data-toggle="on"] {
    display: block;
  }
  .terminal #nav-box[data-toggle="off"] {
    display: none;
  }
  .window #body {
    width: 100%;
  }
}

/*animations*/
@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px var(--color);
  }
  50% {
    text-shadow: 0 0 -5px var(--color);
  }
  100% {
    text-shadow: 0 0 5px var(--color);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px var(--color);
  }
  50% {
    box-shadow: 0 0 -10px var(--color);
  }
  100% {
    box-shadow: 0 0 -10px var(--color);
  }
}

@keyframes text {
  0% {
  }
  5% {
  }
  100% {
  }
}
