/*

Project: My Java Lib
Team Member(s): Elena
Date: For "...(...)" callee: Expected a method or function, but this has evaluated to a string (wrapper: f.t.SimpleScalar):
==> date?string  [in template "file:///C:/Users/eVmPr/Documents/NetBeansProjects/xk-dr-z0/nbproject/licenseheader.txt" at line 7, column 25]


*/
/* 
    Created on : Dec 6, 2023, 2:45:47 PM
    Author     : eVmPr
*/
/*
fonts: 
Acer vga 8x8 plus
*/
/*@property --main-bg-color{
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}*/
.containercontainer {
    position: relative;
    width: auto;
    height: auto;
    border: 2px solid #666;
    background: #141212;
    color: #3F3;
    margin-top: 1em;
    margin-bottom: 1em;
}

    .containercontainer .container .overlay {
        background: rgba(51, 255, 51, 0.9);
        color: #121010;
        position: absolute;
        width: auto;
        height: 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        line-height: 50px;
        display: inline;
        vertical-align: middle;
        text-align: center;
        font-family: Courier New;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: bolder;
        z-index: 3;
        animation: overlay-anim 10s linear;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

.overlayback {
    background: rgba(187, 187, 187, 0.5);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    animation: overlay-anim 10s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.containercontainer .container {
    text-align: center;
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
}

    .containercontainer .container::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(21, 19, 19, 0.2);
        opacity: 0;
        z-index: 2;
    }

    .containercontainer .container::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0.03) 50%, rgba(0, 0, 0, 0.45) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.22), rgba(0, 255, 0, 0.11), rgba(0, 0, 255, 0.22));
        z-index: 2;
        background-size: 100% 2px, 3px 100%;
    }

.no-unfold {
    text-align: center;
}

.container h1, .container h2, .container h3, .container h5, .container h6 {
    color: #3F3;
}

.container hr {
    border-top: 1px dotted #3F3;
    border-bottom: none;
}

.container hr {
    border-top: 1px solid #3F3;
    border-bottom: 1px solid #3F3;
    color: transparent;
    background-color: transparent;
}

    .container hr:after {
        display: block;
        margin-top: 2px;
        border-top: 1px solid #3F3;
        border-bottom: 1px solid #3F3;
    }

.blinkbar {
    animation: blink 1.5s infinite;
    letter-spacing: -0.13em;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

@keyframes overlay-anim {
    0% {
        visibility: hidden;
    }

    10% {
        visibility: hidden;
    }

    11% {
        visibility: visible;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}
